{{ header }}
<div id="common-success" class="wrap">
  <div class="navigation">
    <div class="wrap">
      <div class="navigation__wrap">
        <nav class="breadcrumbs">
          <ul class="breadcrumbs__list">
            {% for breadcrumb in breadcrumbs %}
            <li class="breadcrumbs__list-item">
              <a class="breadcrumbs__list-link" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>     
      </div>
    </div>
  </div>
    <div id="content" class="main-content">
      <h1>{{ heading_title }}</h1>
      <div class="success-msg">{{ text_message }}</div>
      <div class="buttons">
        <a href="{{ continue }}" class="btn">{{ button_continue }}</a>
      </div>
      {{ content_bottom }}</div>
   
</div>
{{ footer }}